.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
  &__item {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__header {
    margin-bottom: 10px;
    @include font(bold, 14px, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--maintext-color);
  }
  &__text {
    padding-right: 10px;
    @include font(400, 14px, 1.71, 0.03em);
  }
  &__icon-block {
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
  &__icon {
    height: 70px;
    width: 70px;
  }
}
