.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
.features-list {
  display: flex;
  flex-direction: column;
  &__item {
    width: 450px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__header {
    margin-bottom: 10px;
    @include font(bold, 14px, 1.17, 0.03em);
    text-transform: uppercase;
    text-align: center;
    color: var(--maintext-color);
  }
  &__text {
    // padding-right: 10px;
    @include font(400, 14px, 1.71, 0.03em);
  }
  &__icon-block {
    padding: 25px 190px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
  &__icon {
    height: 70px;
    width: 70px;
  }
}
