.header-page {
  border-bottom: 1px solid #ececec;
  @include font(500, 14px, 1.14, 0.02em);
  & .container {
    display: flex;
    padding: 10px 15px;
    @media screen and (min-width: 768px) {
      padding: 21px 15px;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: baseline;
      align-items: center;
      padding: 26px 15px;
    }
  }
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-menu {
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    padding: 32px 0;
    color: var(--maintext-color);
    position: relative;
  }
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 94px;
  }
}
.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--active-color);
  bottom: -3px;
  left: 0;
}
.header-addr {
  display: none;
  margin-left: auto;
  @each $icon in envelope, smartphone {
    &__link-#{$icon} {
      display: flex;
      align-items: center;
    }
    &__icon-#{$icon} {
      fill: #757575;
      margin-right: 10px;
      align-items: center;
    }
    &__link-#{$icon}:hover &__icon-#{$icon},
    &__link-#{$icon}:focus &__icon-#{$icon} {
      fill: var(--active-color);
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    &__link-envelope {
      margin-right: 0;
      margin-bottom: 10px;
    }
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    &__link-envelope {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }
}
