.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
  &__title {
    text-align: center;
    margin-bottom: 50px;
    @include font(bold, 28px, 1.18, 0.03em);
    color: var(--maintext-color);
  }
}
.team-list {
  display: flex;
  flex-direction: column;
  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    background-color: #ffffff;
    border-color: #afb1b8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 4px 4px;
  }
  &__data {
    padding: 30px 122px 24px;
    text-align: center;
  }
  &__name {
    margin-bottom: 10px;
    @include font(500, 16px, 1.19, 0.03em);
    color: var(--maintext-color);
  }
  &__prof {
    margin-bottom: 16px;
    @include font(400, 16px, 1.19, 0.03em);
  }
}
