.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
  &__title {
    text-align: center;
    margin-bottom: 50px;
    @include font(bold, 28px, 1.18, 0.03em);
    color: var(--maintext-color);
  }
}
.team-list {
  display: flex;
  flex-direction: column;
  margin: -15px 0;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px 0;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: -15px 0;
  }
  &__item {
    width: 290px;
    margin: 15px auto;
    @media screen and (min-width: 480px) {
      width: 450px;
      margin: 15px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
      margin: 15px;
    }

    background-color: #ffffff;
    border-color: #afb1b8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 4px 4px;
  }
  &__data {
    margin: 16px auto 24px;
    // @media screen and (min-width: 480px) {
    //   padding: 0 122px;
    // }
    // @media screen and (min-width: 768px) {
    //   padding: 0 74px;
    // }
    // @media screen and (min-width: 1200px) {
    //   padding: 0 32;
    // }
    text-align: center;
  }
  &__name {
    margin-bottom: 10px;
    @include font(500, 16px, 1.19, 0.03em);
    color: var(--maintext-color);
  }
  &__prof {
    margin-bottom: 16px;
    @include font(400, 16px, 1.19, 0.03em);
  }
}
