.what-we-do {
  @media screen and (max-width: 1200px) {
    display: none;
  }
  padding-bottom: 60px;
  &__title {
    text-align: center;
    margin-bottom: 50px;
    @include font(bold, 36px, 1.17, 0.03em);
    color: var(--maintext-color);
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--activebutton-textcolor);
    background-color: rgba(47, 48, 58, 0.8);

    @include font(bold, 14px, 1.16, 0.03em);
    text-transform: uppercase;
  }
}
